.Card {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  border-radius: 16px;
  padding: 2rem 2.25rem;
  /* width: min(90%, 35rem); */
  box-shadow: 0 0 10px rgb(25, 50, 81, 10%), 0 20px 40px rgb(25, 50, 81, 50%);
  position: relative;
  height: 40rem;
}

.Card__outerContainer {
  width: min(90%, 35rem);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.Card__name {
  text-align: center;
}

.Card__img {
  width: 40%;
  display: block;
  border-radius: 50%;
  align-self: center;
}

.Card__factsList {
  list-style: none;
}

.Card__bookmark {
  width: 2rem;
  border: none;
  background: inherit;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.Card__bookmarkClicked {
  fill: blue;
}
